//font
@font-face {
  font-family: "Brooklyn";
  src: url("/fonts/Brooklyn/Brooklyn-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Brooklyn";
  src: url("/fonts/Brooklyn/Brooklyn-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vonca";
  src: url("/fonts/Vonca/Vonca-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Vonca";
  src: url("/fonts/Vonca/Vonca-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Vonca";
  src: url("/fonts/Vonca/Vonca-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vonca";
  src: url("/fonts/Vonca/Vonca-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Vonca";
  src: url("/fonts/Vonca/Vonca-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/subset-Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/subset-Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

//main color

$mainColor: #3569b3;
$blackColor: #101010;
$whiteColor: #f1f1f1;

html {
  font-size: 16px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  color: $whiteColor;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
}

body {
  background-color: $blackColor;
}
a,
a:visited,
a:focus,
a:active {
  color: $whiteColor;
  text-decoration: none;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;

  .menu {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    padding: 1rem 0;
    background-color: $mainColor;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      font-family: "Brooklyn";
      font-weight: 400;
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
      .extend {
        cursor: pointer;
      }
      li {
        list-style: none;
        cursor: pointer;

        p {
          margin-bottom: 1rem;
        }
        ul {
          width: 100vw;
          gap: 0;
          padding: 0;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0;
          li:hover a {
            color: $blackColor;
          }
        }
      }
      li:hover p,
      li:hover .hover {
        color: $blackColor;
      }
    }
  }
  nav {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 1rem 0 rgba($color: #000000, $alpha: 0.1);
    height: 5rem;
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    a {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .backArrowHeader {
      div {
        background-color: $whiteColor;
        height: 0.3rem;
        border-radius: 0.3rem;
        transform-origin: left center;
        &:first-child {
          margin-bottom: -0.4rem;
        }
        &:last-child {
          margin-top: -0.4rem;
        }
      }
    }
    .burger {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      div {
        background-color: $whiteColor;
        border-radius: 0.3rem;
      }
    }
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  .section1 {
    display: flex;
    margin: 6rem 0;
    padding: 0 6rem;
    .leftPart {
      width: 40%;

      h1 {
        position: relative;
        z-index: 10;
        font-family: "Vonca";
        font-weight: 400;
        font-size: 6rem;
        text-wrap: nowrap;
        margin-bottom: 1rem;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 10px;
      }
      ul {
        padding-right: 2rem;
        li {
          list-style: none;
          font-family: "Brooklyn";
          font-weight: 400;
          margin-bottom: 0.5rem;
          text-align: justify;
          line-height: 1.5rem;
        }
        li:nth-child(odd) {
          font-size: 1.5rem;
          text-transform: uppercase;
          margin-bottom: 1rem;
        }
      }
    }
    .rightPart {
      width: 60%;
      min-height: 500px;
      background-size: cover;
      background-position: center;
    }
  }
  .section2 {
    display: flex;
    width: 100%;
    .leftPart {
      width: 50%;
      min-height: 500px;
      background-size: cover;
      background-position: center;
    }
    .rightPart {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h2,
      h3 {
        list-style: none;
        font-family: "Brooklyn";
        font-weight: 400;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 0 6rem 0 2rem;
        margin-bottom: 0.5rem;
      }
      p {
        padding: 0 6rem 0 2rem;
        text-align: justify;
        line-height: 1.5rem;
      }
      ul {
        padding: 0 6rem 0 4rem;
      }
    }
  }
  .section3 {
    display: flex;
    margin-bottom: 6rem;
    width: 100%;
    .leftPart {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      h2 {
        list-style: none;
        font-family: "Brooklyn";
        font-weight: 400;
        font-size: 1.5rem;
        text-transform: uppercase;
        padding: 0 2rem 0 6rem;
        margin-bottom: 0.5rem;
      }
      p {
        padding: 0 2rem 0 6rem;
        text-align: justify;
        line-height: 1.5rem;
      }
    }
    .rightPart {
      width: 50%;
      min-height: 500px;
      background-size: cover;
      background-position: center;
    }
  }
  .section4 {
    width: 100%;
    height: 500px;
    display: flex;
    div {
      flex: 1;
      transition: all 300ms ease;
      background-size: cover;
      background-position: center;
      &:hover,
      &:active {
        flex: 2;
        position: relative;
        z-index: 1;
        box-shadow: 0 0 1rem 1rem rgba($color: #000000, $alpha: 0.5);
      }

      &:nth-child(1) {
        background-color: #5187d2;
      }
      &:nth-child(2) {
        background-color: #194c94;
      }
      &:nth-child(3) {
        background-color: #4c8de7;
      }
    }
  }
}
footer {
  background-color: $mainColor;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  nav {
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      .backArrow {
        div {
          background-color: $whiteColor;
          height: 0.3rem;
          border-radius: 0.4rem;
          transform-origin: left center;
          &:first-child {
            margin-bottom: -0.4rem;
          }
          &:last-child {
            margin-top: -0.4rem;
          }
        }
      }
      &:last-child .backArrow div {
        transform-origin: right center;
        &:first-child {
          margin-bottom: -0.4rem;
        }
        &:last-child {
          margin-top: -0.4rem;
        }
      }
    }
    p {
      line-height: 1;
      font-family: "Brooklyn";
      font-weight: 500;
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.07rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  main .section1 .leftPart h1 {
    font-size: 3rem;
    text-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 15px;
  }
  header nav {
    padding: 0 2rem;
  }
  main {
    .section1 {
      flex-direction: column;
      width: 90%;
      padding: 0;
      gap: 2rem;
      .leftPart {
        width: 100%;
        padding: 0;
        h1 {
          text-wrap: wrap;
          text-align: center;
        }
        ul {
          padding: 0;
          width: 100%;
        }
      }
      .rightPart {
        width: 100%;
      }
    }
    .section2 {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2rem;
      width: 100%;
      margin-bottom: 2rem;
      .leftPart {
        width: 100%;
      }
      .rightPart {
        width: 90%;
        p,
        h2 {
          padding: 0;
        }
        h2 {
          text-align: center;
        }
      }
    }
    .section3 {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 100%;
      .rightPart {
        width: 100%;
      }
      .leftPart {
        width: 90%;
        p,
        h2 {
          padding: 0;
        }
        h2 {
          text-align: center;
        }
      }
    }
  }
  .section4 {
    flex-direction: column;
  }
  footer nav {
    padding: 0 2rem;
    a {
      &:last-child {
        text-align: end;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}
