section div {
  height: 100vh;
  background-color: bisque;
}
.div1 {
  background-color: red !important;
}
.div3 {
  background-color: green !important;
}
p {
  height: 50%;
  width: 50%;
  background-color: black;
}
